@use "mixins";
@use "helpers";
@use "variables";

.news-insights-hero {
    @extend .overflow-hidden;
}

.home {
    #hero #hero-bottom {
        @include mixins.mq-down-lg() {
            h2, h3, h4, h5, h6, p, * {
                color: variables.$black;
                strong {
                    color: variables.$primary;
                }
            }
            .btn-success {
                a {
                    background-color: variables.$white!important;
                    span {
                        color: variables.$black!important;
                    }
                }
            }
        }
    }
}

#hero {
    @extend .overflow-hidden;
    .hero-inner {
        &__title {
            @include mixins.mq-up-xl() {
                flex-basis: calc((6 / 12) * 100%);
            }
            @include mixins.mq-down-xl() {
                br {
                    display: none;
                }
            }
            
        }
        &__content {
            @include mixins.mq-up-xl() {
                flex-basis: calc((6 / 12) * 100%);
            }
        }
    }
}

.hero {
    &__company {
        height: 540px!important;
    }
}