@use "mixins";
@use "helpers";
@use "variables";

.arrow-link {
    &.before {
        a {
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                bottom: 2px;
                margin-right: 6px;
                margin-bottom: 0;
                transform: rotate(90deg);
                width: 12px;
                height: 8px;
                mask-image: url(/wp-content/uploads/2025/01/caret-blue.svg);
                mask-size: contain;
                mask-repeat: no-repeat;
                @include mixins.transition-all(0.3s);
            }
            &:hover {
                &:before {
                    transform: rotate(90deg) scale(1.2);
                }
            }
        }
        &.white {
            a {
                &:before {
                    background-color: variables.$white;
                }
            }
        }
        &.blue {
            a {
                &:before {
                    background-color: variables.$primary;
                }
            }
        }
        &.black {
            a {
                &:before {
                    background-color: variables.$black;
                }
            }
        }
    }
}

.btn-default { // gradient border w/ white background
    a {
        display: inline-block;
        will-change: transform;
        position: relative;
        padding: 10px 20px;
        border-radius: 16px;
        color: variables.$black!important;
        background-image: linear-gradient(90deg, var( --e-global-color-97f5531 ) 0%, var( --e-global-color-primary ) 100%);
        @include mixins.transition-all(0.4s);
        &:before {
            content: "";
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            background-color: variables.$white;
            border-radius: 14px;
            @include mixins.transition-all(0.4s);
            z-index: -1;
        }
        span {
            z-index: 1;
        }
        &:hover {
            transform: scale(1.1);
            color: variables.$white!important;
            &:before {
                background-color: transparent;
            }
        }
    }
}

.btn-info { // gradient border w/ blue background
    a {
        display: inline-block;
        color: variables.$white!important;
        will-change: transform;
        position: relative;
        padding: 10px 20px;
        border-radius: 16px;
        position: relative;
        @include mixins.transition-all(0.4s);
        &:before {
            content: "";
            position: absolute;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            background-color: variables.$primary;
            border-radius: 14px;
            @include mixins.transition-all(0.4s);
            z-index: -1;
        }
        span {
            z-index: 1;
        }
        &:hover {
            transform: scale(1.1);
            &:before {
                background-color: transparent;
            }
        }
    }
}

.btn-success { // gradient border w/ transparent dark background
    a {
        display: inline-block;
        will-change: transform;
        position: relative;
        padding: 10px 20px;
        border-radius: 16px;
        background: rgba(0,0,0,0.4)!important;
        color: variables.$white!important;
        @include mixins.transition-all(0.4s);
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 14px;
            background: linear-gradient(90deg, var( --e-global-color-97f5531 ) 0%, var( --e-global-color-primary ) 100%);
            opacity: 0;
            z-index: -1;
            @include mixins.transition-all(0.4s);
        }
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2px;
            background: linear-gradient(90deg, var( --e-global-color-97f5531 ) 0%, var( --e-global-color-primary ) 100%);
            -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            border-radius: 14px;
            @include mixins.transition-all(0.4s);
            z-index: -1;
        }
        &:hover {
            transform: scale(1.1);
            background: transparent!important;
            &:before {
                background-color: transparent;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}