@use "mixins";
@use "helpers";
@use "variables";

a.elementor-button {
    min-width: 178px;
    will-change: transform;
    transform-origin: center;
}

.btn-plus {
    a {
        display: inline-block;
        padding: 0;
        background-image: url(/wp-content/uploads/2025/08/playbook-plus-opaque.svg);
        background-size: 56px;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 500px;
        width: 56px;
        height: 56px;
        transition: .75s cubic-bezier(.60,.01,.25,1) all;
        z-index: 1;
        min-width: 56px;
        > span {
            @extend .sr-only;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}