@use "mixins";
@use "variables";

#filters {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
    @include mixins.mq-down-md() {
        gap: 20px;
    }
    .filter-group {
        &.dropdown {
            &.js-active {
                > button {
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;   
                    border-bottom-color: transparent; 
                }
            }
            > button {
                padding: 10px;
                background-color: variables.$white;
                color: variables.$primary;
                border-color: transparent;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 1px solid variables.$primary;
                &:after {
                    background-color: variables.$primary;
                    right: 10px;
                }
            }
            ul.filter {
                color: variables.$black;
                background-color: variables.$white; 
                padding: 0 15px 15px;
                border: 1px solid lightgray;
                border-top: 0;
                li {
                    &:first-child {
                        margin-top: 0;
                    }
                    button {
                        color: variables.$black;
                        // &:focus {
                        //     outline: 1px solid variables.$black;
                        // }
                        &:hover {
                            color: variables.$primary;
                        }
                    }
                    
                    &.js-active {
                        button {
                            background-color: variables.$white;
                            color: variables.$primary;    
                        }
                    }
                }  
                
            }
        }
        &.search {
            input {
                padding: 10px 80px 10px 10px;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid variables.$primary;
                color: variables.$primary;
                &::placeholder {
                    color: variables.$primary;
                }
                &:focus {
                    padding-left: 25px;
                }
            }
            button {
                right: 10px;
                &:after {
                    background-color: variables.$primary;
                }
            }
        }
    }
    &.two-col {
        @include mixins.mq-up-md() {
            flex-direction: row;
            .filter-group {
                width: calc(100% / 3);
            }
        }
        @media (min-width: 576px) and (max-width: 767px) {
            flex-direction: row;
            .filter-group {
                width: calc(100% / 2);
            }
        }
        @include mixins.mq-down-sm() {
            flex-direction: column;
            .filter-group {
                width: 100%;
                
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            .filter-group {
                flex-grow: 1;
            }
        }
    }

    &.three-col {
        @include mixins.mq-up-md() {
            flex-direction: row;
            .filter-group {
                width: calc(100% / 3);
            }
        }
        flex-direction: column;
        .filter-group {
            width: 100%;
            
        }
    }

    .filter-group {
        position: relative;
        &.dropdown {
            @include mixins.transition-all(0.3s);
            &.js-active {
                > button {
                    // color: variables.$primary;
                    border-top: 1px solid lightgray;
                    border-left: 1px solid lightgray;
                    border-right: 1px solid lightgray;
                    // background-color: variables.$primary;
                    padding-left: 25px;
                    padding-right: 25px;
                    &:focus {
                        border-top-left-radius: 16px!important;
                        border-top-right-radius: 16px!important;

                        // border: 2px solid variables.$white;
                        // border-top-left-radius: 16px;
                        // border-top-right-radius: 16px;
                        // border-bottom-left-radius: 0;
                        // border-bottom-right-radius: 0;
                        outline: 0;
                    }
                    &:hover,
                    &:focus {
                        padding-left: 25px;
                        padding-right: 25px;
                    }
                    &:after {
                        right: 20px;
                        // background-color: variables.$white;
                        transform: translateY(-50%) scaleY(-1);
                    }
                }

                ul.filter {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                    z-index: 999;
                    li {
                        button {
                            &.js-active {
                                @include mixins.mq-up-lg() {
                                    background-color: variables.$white;
                                    color: variables.$primary;    
                                }
                                @include mixins.mq-down-lg() {
                                    background-color: variables.$primary;
                                    color: variables.$white;    
                                }
                            }
                        }
                    }
                }
            }
            > button {
                position: relative;
                display: block;
                text-align: start;
                width: 100%;
                font-size: 20px;
                line-height: 1.5;
                overflow: hidden;
                @include mixins.transition-all(0.3s);
                
                &:focus {
                    outline: 2px solid variables.$primary;
                    box-shadow: 0 0 12px rgba(0,74,148,0.125);
                    border-bottom: 0;
                    border-radius: 4px!important;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 50px;
                    background-color: #fff;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 14px;
                    height: 9px;
                    mask-image: url(/wp-content/uploads/2025/01/caret-blue.svg);
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    @include mixins.transition-all(0.3s);
                }
                &:hover {
                    &:after {
                        transform: translateY(-50%) scaleY(-1);
                    }
                }
            }

            ul.filter {
                position: absolute;
                left: 0;
                right: 0;
                top: calc(100% - 1px);
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                max-height: 300px;
                overflow: auto;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                &::-webkit-scrollbar {
                    width: 6px;
                    padding-bottom: 16px;
                  }
                &::-webkit-scrollbar-track {
                    background: transparent;
                  }
                  &::-webkit-scrollbar-thumb {
                    background: variables.$primary;
                    border-radius: 8px;
                  }
                @include mixins.transition-all(0.3s);
                li {
                    list-style-type: none;
                    &:last-child {
                        button {
                            margin-bottom: 0;
                        }
                    }
                    button {
                        display: block;
                        text-align: left;
                        width: 100%;
                        font-size: 20px;
                        padding: 5px 10px;
                        margin: 5px 0;
                        border-radius: 5px;
                        border: 1.5px solid transparent;
                        white-space: normal;
                        cursor: pointer;
                        @include mixins.transition-all(0.35s);
                        &:hover, &:focus {
                            background-color: transparent;
                        }
                        @include mixins.mq-down-md() {
                            color: variables.$primary;    
                        }
                    }
                }
            }
        }

        &.search {
            input {
                font-size: 20px;
                &::placeholder {
                    font-size: 20px;
                }
                &:focus {
                    outline: 2px solid variables.$primary;
                    box-shadow: 0 0 12px rgba(0,74,148,0.125);
                    border-radius: 4px;
                    @include mixins.mq-up-md() {
                        border-bottom: 0;
                    }
                }
                
            }
            #filter-reset {
                right: 40px;
                padding-top: 1px;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                &:after {
                    mask-image: url(/wp-content/uploads/2025/02/x-close.svg);
                }
                &.show {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
            #filter-submit {
                &:after {
                    mask-image: url(/wp-content/uploads/2025/01/search.svg);
                }
            }
            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transform-origin: center;
                border: 0;
                border-radius: 0;
                padding: 0;
                width: 19px;
                height: 19px;
                @include mixins.transition-all(0.3s);
                &:hover, &:focus {
                    background-color: transparent;
                }
                &:after {
                    content: '';
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    @include mixins.transition-all(0.3s);
                }
                &:hover {
                    transform: scale(1.1) translateY(-50%);
                }
            }
            .js-error {
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 100%;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                color: variables.$white;
                padding: 4px 12px;
                background-color: variables.$red;
            }
        }
    }
}