@use "_mixins";
@use "_variables";

body.elementor-editor-active {
    header#header {
        position: relative!important;
        top: 0;
    }
}

body.team-template-default {
    header#header {
        &:not(:top) {
            opacity: 0!important;
            visibility: hidden!important;
            pointer-events: none!important;    
        }
    }
}

body.logged-in {
    header#header {
        top: 32px;
    }
}

body.menu-open {
    header#header {
        .elementor-container {
            backdrop-filter: blur(0);
            > div {
                > div {
                    border-color: transparent!important;
                    background-color: transparent!important;
                }
            }
        }
        .elementor-menu-toggle {
            background-color: transparent;
        }
    }
}

header#header{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    transition: .35s ease-in-out all;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    .elementor-container {
        @supports (backdrop-filter: blur(10px)) {
            transition: .35s ease-in-out backdrop-filter;
            backdrop-filter: blur(10px);
        }
        .elementor-column {
            .elementor-widget-wrap {
                background-color: rgba(0, 0, 0, .8);
                @supports (backdrop-filter: blur(10px)) {
                    background-color: rgba(0, 0, 0, .4);
                }
            }
        }
        border-radius: 16px;
    }
    &.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        .elementor-container {
            backdrop-filter: blur(0);
        }
    }
    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        &.top {
            .elementor-container {
                transition: .35s ease-in-out backdrop-filter;
                backdrop-filter: blur(10px);
            }
            .header-inner {
                > div {
                    background-color: rgba(0, 0, 0, .55);
                    @supports (backdrop-filter: blur(10px)) {
                        transition: .35s ease-in-out backdrop-filter;
                        backdrop-filter: blur(10px);
                        background-color: rgba(0, 0, 0, .3);
                    }
                    border-color: variables.$primary;
                    nav {
                        ul {
                            li {
                                a {
                                    color: variables.$white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .elementor-widget-theme-site-logo {
        z-index: 9999;
    }
    .header-nav {
        position: static;
        .elementor-menu-toggle {
            transition: .4s ease-in-out all;
            will-change: transform;
            &:hover {
                transform: scale(1.1);
            }
        }        
        .elementor-widget-container {
            position: static;
            @include mixins.mq-up-lg() {
                nav {
                    > ul {
                        > li {
                            > a {
                                padding-left: 20px;
                                padding-right: 20px;
                            }
                            &.contact {
                                margin: 0 20px;
                            }
                        }
                    }
                    ul {
                        
                        li {
                            &.contact {
                                a {
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    border: 1px solid variables.$accent;
                                    padding: 20px;
                                    border-radius: 16px;
                                    align-self: center;
                                    &:hover {
                                        background-color: variables.$accent;
                                        color: variables.$black;
                                    }
                                }
                            }
                            &.login {
                                a {
                                    font-weight: 700;
                                    align-self: center;
                                }
                            }
                            &:not(.contact) {
                                &.current-menu-item {
                                    a {
                                        color: variables.$accent;
                                        &:hover {
                                            color: variables.$white;
                                        }
                                    }
                                }
                                a {
                                    &:hover {
                                        color: variables.$accent;
                                    }
                                }
                            }
                            &.menu-item-has-children {
                                &:after {

                                }
                                ul {
                                    margin-top: 0!important;
                                    &.js-active {
                                        opacity: 1;
                                        visibility: visible;
                                        pointer-events: all;
                                    }
                                }
                            }

                            
                            
                            ul.sub-menu {
                                display: block!important;
                                opacity: 0;
                                visibility: hidden;
                                pointer-events: none;
                                background-color: variables.$white;
                                backdrop-filter: blur(4px);
                                transition: .4s ease-in-out all;
                                border-top: 0!important;
                                min-width: 200px!important;
                                width: 200px!important;
                                left: 50%!important;
                                transform: translateX(-50%)!important;
                                top: calc(100% + 1px)!important;
                                box-shadow: 0 8px 16px rgba(0,0,0,0.1);
                                &:after {
                                    content: '';
                                    display: inline-block;
                                    position: absolute;
                                    top: -10px;
                                    left: 50%;
                                    transform: translateX(-50%);                            
                                    width: 0px;
                                    height: 0px;
                                    border-style: solid;
                                    border-width: 0 10px 10px 10px;
                                    border-color: transparent transparent #fff transparent;
                                    transform: rotate(0deg) translateX(-50%);
                                }
                                li {
                                    &:first-child {
                                        a {
                                            padding-top: 20px;
                                        }
                                    }
                                    &:last-child {
                                        a {
                                            padding-bottom: 20px;
                                        }
                                    }
                                    a {
                                        font-family: 'Archivo', sans-serif;
                                        font-size: 15px;
                                        border-inline-start: 0;
                                        color: variables.$primary!important;
                                        justify-content: center;
                                        text-transform: none!important;
                                        padding: 10px 15px;
                                        transition: .35s ease-in-out all;
                                        &:hover {
                                            background-color: transparent;
                                            color: variables.$primary!important;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            a {
                                text-transform: none;
                            }
                        }
                    }
                }
            }
            @include mixins.mq-down-lg() {
                    nav.elementor-nav-menu--dropdown {
                    right: 0 !important;
                    align-items: start;
                    bottom: auto;
                    // display: flex;
                    height: calc(100vh + 21px);
                    max-height: calc(100vh + 21px);
                    justify-content: center;
                    left: -21px !important;
                    margin-top: 0 !important;
                    padding-left: 0 !important;
                    top: -21px !important;
                    transform: translateX(100%) scaleY(1) !important;
                    width: calc(100% + 42px) !important;
                    // overflow: scroll;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    // display: none;
                    transition: .4s ease-in-out all;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    &[aria-hidden="false"] {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                        // display: flex;
                        transform: translateX(0) scaleY(1) !important;
                    }
                    > ul {
                        max-height: calc(100vh - 120px);
                        margin: 120px 40px 0;
                        overflow: scroll;
                        padding-bottom: 160px;
                        display: inline-block;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                    ul {
                        width: 100%!important;
                        &.sub-menu {
                            border-radius: 8px;
                            margin: 7px 0;
                            li {
                                a {
                                    color: variables.$white;
                                    font-size: 24px;
                                    border-left: 0;
                                    padding-left: 20px;
                                    &:hover, &:focus {
                                        background-color: transparent;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        li {
                            display: flex;
                            flex-direction: column;
                            text-align: center;
                            &.contact, &.login {
                                // width: 50%;
                                margin-top: 20px;
                                float: left;
                                a {
                                    justify-content: center;
                                    padding: 0;
                                    font-size: 24px;
                                    font-weight: 700;
                                    color: variables.$accent;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                            &.contact {
                                margin-right: 24px;
                                // a {
                                //     border: 1px solid variables.$accent;
                                //     border-radius: 8px;
                                //     text-transform: uppercase;
                                //     &:hover {
                                //         background-color: variables.$accent;
                                //         color: variables.$black;
                                //     }
                                // }
                            }
                            &.login {
                                // float: right;
                                // a {
                                //     &:hover {
                                //         text-decoration: underline;
                                //     }
                                // }
                            }
                            a {
                                display: flex;
                                justify-content: start;
                                width: 100%;
                                border-radius: 8px;
                                transition: .35s ease-in-out all;
                                margin: 7px 0;
                                line-height: 1;
                                &:hover {
                                    text-decoration: underline;
                                }
                                &:hover, &.highlighted {
                                    .sub-arrow {
                                        i {
                                            &:before {
                                                background-color: variables.$white;
                                            }
                                        }
                                    }
                                }
                                
                                &.elementor-item-active {
                                    .sub-arrow {
                                        i {
                                            &:before {
                                                background-color: variables.$white;
                                            }
                                        }
                                    }
                                }
                                .sub-arrow {
                                    padding-left: 20px;
                                    i {
                                        &:before {
                                            content: '';
                                            display: inline-block;
                                            width: 24px;
                                            height: 24px;
                                            mask-image: url('/wp-content/uploads/2025/01/caret-blue.svg');
                                            mask-size: 24px;
                                            mask-repeat: no-repeat;
                                            mask-position: center;
                                            background-color: variables.$white;
                                            transition: .4s ease-in-out all;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .elementor-menu-toggle {
                    z-index: 9999;
                }
            }  
        }
    }
}
