@use "_mixins";
@use "_variables";

body.elementor-editor-active {
    header.site-header {
        position: relative!important;
        top: 0;
    }
}

body.team-template-default {
    header.site-header {
        &:not(:top) {
            opacity: 0!important;
            visibility: hidden!important;
            pointer-events: none!important;    
        }
    }
}

body.logged-in {
    header.site-header {
        @include mixins.mq-up-lg() {
            transform: translateY(20px);
            &.js-active {
                transform: translateY(32px);
            }
        }
    }
}

body.menu-open {
}

header.site-header{
    position: fixed;
    justify-content: center;
    width: 100%!important;
    padding: 0 20px;
    max-width: none!important;
    z-index: 999;
    transition: .5s ease-in-out all;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    .site-header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 100px;
        width: 100%;
        padding: 16px 16px 16px 25px;
        background-color: variables.$white;
        box-shadow: 0 343px 96px 0 rgba(0, 0, 0, 0.00), 0 219px 88px 0 rgba(0, 0, 0, 0.01), 0 123px 74px 0 rgba(0, 0, 0, 0.05), 0 55px 55px 0 rgba(0, 0, 0, 0.09), 0 14px 30px 0 rgba(0, 0, 0, 0.10);
        transition: .5s ease-in-out all;
        .site-logo {
            display: inline-block;
            width: variables.$logo-width;
            height: variables.$logo-height;
        }
        
        nav.site-nav {
            position: static;
            ul {
                display: flex;
                align-items: center;
                list-style-type: none;
                li {
                    a {
                        display: inline-block;
                        line-height: normal;
                    }
                }
            }
        }
    }
    @include mixins.mq-up-lg() {
        transform: translateY(20px);
        &.js-active {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            padding: 0;
            transition: .5s ease-in-out all;
            // background-color: variables.$white;
            transform: translateY(0)!important;
            .site-header__inner {
                padding-left: 35px;
                padding-right: 35px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
        .site-header__inner {
            max-width: 1220px;
            nav.site-nav {
                button {
                    display: none;
                }
                ul {
                    gap: 40px;
                    li {
                        &.current-menu-item {
                            &:not(.btn) {
                                a {
                                    color: variables.$white;
                                    border-radius: 100px;
                                    border: 1px solid variables.$gray-100;
                                    background: variables.$gray-200;
                                    padding: 7px 20px;
                                }
                            }
                        }
                        a {
                            color: variables.$black;
                            font-size: variables.$font-size-sm;
                            font-weight: 600;
                        }
                        &.btn {
                            a {
                                color: variables.$white;
                                background-color: variables.$primary;
                                padding: 7px 30px;
                                border-radius: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include mixins.mq-down-lg() {
        position: absolute;

        .site-header__inner {
            position: static;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            nav.site-nav {
                display: flex;
                justify-content: end;
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    padding: 0;
                    border: 0;
                    background-color: variables.$primary;
                    transition: .35s ease-in-out all;
                    &:after {
                        content: '';
                        position: relative;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        mask-image: url(/wp-content/uploads/2025/08/playbook-open.svg);
                        mask-size: contain;
                        mask-position: center;
                        mask-repeat: no-repeat;
                        background-color: variables.$white;
                    }
                    &:hover, &:focus {
                        border: 0;
                        transform: scale(1.1);
                    }
                    &.js-open {
                        &:after {
                            mask-image: url(/wp-content/uploads/2025/08/playbook-menu-open.svg);
                            transform: scale(.6);
                        }
                    }
                }
                ul {
                    background-color: var(--e-global-color-687e16b);
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    height: auto;
                    width: calc(100% - 80px);
                    position: absolute;
                    top: 72px;
                    right: 40px;
                    left: 40px;
                    padding: 40px;
                    z-index: -1;
                    border-bottom-left-radius: 22px;
                    border-bottom-right-radius: 22px;
                    background-color: variables.$primary;
                    transition: .8s cubic-bezier(.60, .01, .25, 1);
                    transform: scale(.9);
                    transform-origin: top;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    &.js-open {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                        transform: scale(1);
                    }
                    li {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin: 10px 0;
                        a {
                            flex-grow: 1;
                            display: block;
                            position: relative;
                            font-size: 20px;
                            font-weight: 500;
                            padding: 10px 0;
                            color: variables.$white;
                            &:hover, &:focus {
                                color: variables.$white;
                            }
                            
                        }
                        &:not(:last-child) {
                            a {
                                &:after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    bottom: -10px;
                                    display: inline-block;
                                    width: 100%;
                                    height: 1px;
                                    background-color: variables.$white;
                                    opacity: .15;
                                }
                            } 
                        }  
                        &.btn {
                            display: inline-block;
                            margin-top: 20px;
                            a {
                                background-color: variables.$white;
                                color: variables.$primary;
                                border-radius: 100px;
                                display: inline-block;    
                                padding: 12px 36px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include mixins.mq-down-md() {
        position: relative;
        padding-inline-end: 0!important;
        padding-inline-start: 0!important;
        .site-header__inner {
            border-radius: 0;
            nav {
                &.site-nav {
                    ul {
                        left: 25px;
                        right: 25px;
                        width: calc(100% - 50px);
                    }
                }
            }
        }
    }
    
    
}
