@use "mixins";
@use "variables";

html {
    position: relative;
}

body {
    overflow-x: hidden;
}

.br-down-md {
    @include mixins.mq-up-md() {
        br {
            display: none;
        }
    }
}

.br-up-xl {
    @include mixins.mq-down-xl() {
        br {
            display: none;
        }
    }
}

.iframe-container {
    position: relative;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.sticky-col-lg {
    @include mixins.mq-up-lg() {
        position: sticky!important;
        top: 180px;
    }
}

.sticky-col-md {
    @include mixins.mq-up-md() {
        position: sticky!important;
        top: 180px;
    }
}

.link-underline {
    a {
        text-decoration: underline!important;
        &:hover {
            text-decoration: none!important;
        }
    }
}

.link-accent {
    a {
        // color: variables.$accent!important;
        &:hover {
            text-decoration: underline;
        }
    }
}

.mb-0 {
    * {
        margin-bottom: 0!important;
    }
}

.overlay-dark {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
        border-radius: 40px;
        z-index: 0;
    }
    > div {
        z-index: 1;
    }
}

.bg-grid {
    background-size: 36px 36px;
  background-image:
    linear-gradient(to right, #E7E5DB 1px, transparent 1px),
    linear-gradient(to bottom, #E7E5DB 1px, transparent 1px);
    background-position: center;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 36px 36px;
  background-image:
    linear-gradient(to right, #E7E5DB 1px, transparent 1px),
    linear-gradient(to bottom, #E7E5DB 1px, transparent 1px);
    background-position: center;
    z-index: -1;
    }
}

.bg-grid-dark {
    background-size: 36px 36px;
  background-image:
    linear-gradient(to right, #A9A192 1px, transparent 1px),
    linear-gradient(to bottom, #A9A192 1px, transparent 1px);
    background-position: center;
}

.aspect-ratio-square {
    aspect-ratio: 1 / 1;
}

.swiper {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .6s ease-in-out all;
    &.swiper-initialized {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.box-shadow-dark {
    box-shadow: 214px 211px 84px 0 rgba(0, 0, 0, 0.00), 137px 135px 77px 0 rgba(0, 0, 0, 0.01), 77px 76px 65px 0 rgba(0, 0, 0, 0.05), 34px 34px 48px 0 rgba(0, 0, 0, 0.09), 9px 8px 26px 0 rgba(0, 0, 0, 0.10);
}

.hover-inset-orange {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 40px;                
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background: rgba(252, 252, 243, 0.01);
        box-shadow: 0 0 28px 12px #D6660E inset;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: .3s ease-in-out;
    }
    &:hover {
        &:after {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

.sr-only {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

.elementor {
    // Helper Classes
    em {
        font-family: variables.$instrument-serif;
        font-weight: 500;
    }
    .text-primary, .text-primary * {
        color: variables.$primary;
    }
    .text-white, .text-white * {
        color: variables.$white;
    }
    .link-underline {
        a:not(.elementor-button) {
            text-decoration: underline!important;
            &:hover {
                text-decoration: none!important;
            }
        }
    }
    .link-underline-reverse {
        a:not(.elementor-button) {
            text-decoration: none!important;
            &:hover {
                text-decoration: underline!important;
            }
        }
    }

    // Overrides to Default Elementor Styling
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    address {
        font-style: normal;
    }
    .elementor-widget-theme-post-content {
        a {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
                color: variables.$primary;
                * {
                    text-decoration: none;
                    color: variables.$primary;
                }
            }
        }
    }
    .elementor-widget-loop-grid {
        .elementor-widget-container {
            .elementor-grid {
                height: 100%;
                [data-elementor-type="loop-item"] {
                    > div {
                        height: 100%;
                    }
                }
            }
        }
    }
    .elementor-widget-text-editor {
        ul {
            padding-left: 18px;
            margin: 10px 0;
        }
    }
    .elementor-custom-embed-play {
        transform-origin: center;
        svg {
            filter: none;
            @include mixins.transition-all(0.3s);
        }
        &:hover {
            svg {
                transform: scale(1.1);
            }
        }
    }
}

.overflow-hidden {
    overflow: hidden!important;
}

.bg-transparent {
    background-color: transparent!important;
}

.sr-only {
    font-size: 0;
    line-height: 0;
    opacity: 0;
}

.fw-video-container {
    width: 100%;
    height: 100%;
    * {
        width: 100%;
        height: 100%;
    }
}



.abs-image, .abs-video {
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .elementor-widget-container.elementor-motion-effects-element {
        transform: translateY(0);
    }
    img, video, iframe {
        object-fit: cover;
        width: 100%!important;
        height: 100%!important;
    }
    &.bottom {
        height: auto;
        .elementor-widget-container {
            display: flex;
            align-items: end;
        }
        img, svg {
            height: auto!important;
        }
    }
}

.hide-br-down-lg {
    @include mixins.mq-down-lg() {
        br {
            display: none;
        }
    }
}

.hide-br-down-md {
    @include mixins.mq-down-md() {
        br {
            display: none;
        }
    }
}

.align-self-end {
    .e-con-inner {
        align-self: flex-end!important;
    }
}

.align-center-down-lg {
    @include mixins.mq-down-lg() {
        justify-content: center;
        margin: 0 auto;
    }
}

.loading-spinner {
    .spinner {
        border: 4px solid variables.$white;
        border-top: 4px solid variables.$primary;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        animation: spin 1s linear infinite;
    }
}

.bg-noise {
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    background-image: url(/wp-content/themes/hello-theme-child-master/assets/img/noise.png);
    background-size: auto;
    background-repeat: repeat;
    opacity: .55;
    z-index: 0;
    > div {
        z-index: 1;
    }
}

.bottom-image-overlay {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
        z-index: 1;
    }
}

.home {
    .bottom-image-overlay {
        &:after {
            @include mixins.mq-down-md() {
                display: none;
            }
        }
        
    }
}

.orange-graphic-overlay { // use an empty elementor HTML widget
    position: absolute!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:after {
        content: '';
        position: absolute;
        background-position: bottom;
        background-size: cover!important;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/wp-content/uploads/2025/08/rounded-rect-orange.png);
        z-index: 2;
    }
}

.aspect-ratio-1 {
    aspect-ratio: 1 / 1;
}