$primary: var(--e-global-color-primary);
$accent: var(--e-global-color-accent);
$light-blue: var(--e-global-color-97f5531);
$green: var(--e-global-color-83693ee);
$red: var(--e-global-color-14c056e);

$white: #FFF;
$black: var( --e-global-color-text );

$headings-font-family: "Oswald", Sans-serif;
$body-font-family: "Open Sans", Sans-serif;