$primary: var(--e-global-color-primary); // Blueprint Blue
$secondary: var(--e-global-color-secondary); // Notification Orange
$black: var(--e-global-color-text); // After Hours Black
$white: var(--e-global-color-accent); // Daylight White
$gray-100: var(--e-global-color-c63fd6c); // Conference Beige
$gray-200: var(--e-global-color-480687e); // Default Gray
$gray-300: var(--e-global-color-687e16b); // Concrete Taupe

$instrument-sans: "Instrument Sans", sans-serif;
$instrument-serif: "Instrument Serif", serif;

$font-size-sm: 14px;
$font-size-xs: 12px;
$border-radius: 8px;
$box-shadow: 0 345px 97px 0 rgba(0, 0, 0, 0.00), 0 221px 88px 0 rgba(0, 0, 0, 0.01), 0 124px 74px 0 rgba(0, 0, 0, 0.05), 0 55px 55px 0 rgba(0, 0, 0, 0.09), 0 14px 30px 0 rgba(0, 0, 0, 0.10);

$logo-width: 132px;
$logo-height: 27.5px;

$card-aspect-ratio: 405 / 515;